[Desktop Entry]
Name=Synopsis
GenericName=Synopsis
Comment=A simple and concise archive manager for elementary OS.
Categories=GTK;Utility;
Exec=Synopsis
Icon=synopsis
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=synopsis
X-GNOME-Keywords=Synopsis;Archive;Extract;
MimeType=application/x-debian-package